.name {
	font-size: 1.5rem;
	font-weight: 600;
	background-color: transparent;
	border: none;
}

.div-header-menu {
	justify-content: space-between;
	align-items: center;
	height: 45px;
}


.hover-menu{
	width: 100px;
	border-radius: 9px;
	padding: 2px;
}



.div-header-menu, ul {
	display: flex;
}

a {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
}

.about{
	margin: 0 0 0 4px;
}

li {
	line-height: 1.6rem;
	text-align: center;
	list-style-type: none;
	min-width: 4rem;
}

ul {
	padding-inline-start: 0px;
}

.div-main {
	font-size: 20px;
}

.basement {
	text-align: center;
}

.a-icon{
	width: 36px;
}

.svg-icon{
	fill: #fff;
	width: 36px;
	height: 36px;
}
