/*главная*/
body{
	background:#2b2b2b;
	color: #fff;
	margin: 20px;
}
.div-header-menu{
	display: flex;
	min-height: 30px;
	justify-content: space-between;
}
.test{
	margin: 10px 0px 0px 0px;
}
/*меню*/
.div-menu{
	justify-content: end;
}
ul{
	display: flex;
	margin-block-start: auto;
	margin-block-end: auto;
	list-style-type: none;
	padding-inline-start: 0px;
}
a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
.a1{
	margin: 0px 0px 0px 10px;
}
a:hover{
	text-decoration: underline;
}