body{
	/* цвет фона */
	background:#2b2b2b;
	/* цвет текста */
	color: #fff;
	/* верх справа низ  слева */
	margin: 20px;
}

header{
	/* отображение элементов в страку */
	max-height: 60px;
	display: flex;
	min-height: 40px
}

main{
	/* верх справа низ  слева */
	margin: 10px 0 10px 0;
}

footer{
	
}