@media screen{
    .phone{
        display: none;
    }
}

/*
16-9
*/

@media screen and (max-width: 1250px) {
    .div-main {
        max-width: 1100px;
    }
}

@media screen and (max-width: 1150px) {
    .div-main {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1050px) {
    .div-main {
        max-width: 900px;
    }
}

@media screen and (max-width: 950px) {
    .div-main {
        max-width: 800px;
    }
}

@media screen and (max-width: 850px) {
    .div-main {
        max-width: 700px;
    }
}

@media screen and (max-width: 750px) {
    .div-main {
        max-width: 600px;
    }
}

@media screen and (max-width: 650px) {
    .div-main {
        max-width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .div-main {
        max-width: 400px;
    }
    .phone{
        display: block;
    }
    nav{
        display: none;
    }
}

/*
Google Chrome
937 с отображение закладок 
969 без тображаение кладок, работает в хроб, эдж
*/

@media screen and (height: 937px) {
}

@media screen and (height: 969px) {
}

/*
Opera GX
*/

@media screen and (height: 970px) {
	}

/*
1280*1024
Google Chrome -  с отображение закладок 
*/

@media screen and (max-width: 1280px) and (height: 921px) {
    .div-main {
        max-width: 1000px;
    }
}

/*
phone
Google Chrome
480
*/

@media screen and (max-width: 480px){
    .div-main {
		max-width: 380px;
    }
    .phone{
        display: block;
    }
    nav{
        display: none;
    }
}