@media screen and (min-width: 1280px) and (max-height: 1024px) {
    .size-main {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1279px) {
    .size-main {
        max-width: 700px;
    }
}

@media screen and (max-width: 740px) {
    .size-main {
        max-width: 500px;
    }
}

@media screen and (max-width: 365px) {
    .size-main {
        max-width: 300px;
    }
    a {
        font-size: 1rem;
    }
    .com-name {
        font-size: 1.1rem;
    }
}